<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
      <title> Calculadora </title>
  </head>
  <body>
    <form method="POST" action="promedio">
      <%= csrf_token_field %>
      <label>Promedio:</label> </br>
        <input id="primer_operando" type="text" name="primer_operando"> </br>
        <input id="segundo_operando" type="text" name="segundo_operando">
      <input type="submit" value="Calcular" id="calcular"/>
    </form>
    Resultado es:  <%= @resultado %> </br>

    Memoria </br>
    Cantidad de operaciones realizadas: <%= @operaciones_realizadas %> </br>
      <form method="GET" action="resetear/sumar">
        <!--<%= csrf_token_field %>-->
        <input type="submit" value="Resetear memoria" id="resetear"/>
      </form></br>
      <form method="GET" action="/">
        <!--<%= csrf_token_field %>-->
        <input type="submit" value="Pagina principal" id="inicio"/>
      </form>
  </body>
</html>